<div class = "launch wallet">

  <button onclick="launch()"> launch the wallet </button>

  <script>

    function launch(){
      var dataObj = {
        amount: '<%= params[:redeem][:amount] %>',
        currency: 'INR',
        email: '<%= current_user.email %>',
        mobile: '8756320983',
        returnUrl: 'http://fb2b0ae1.ngrok.io/wallet/get_response',
        notifyUrl: 'http://fb2b0ae1.ngrok.io/wallet/get_response',
        merchantTransactionId: '<%= @transactionId %>',
        merchantAccessKey: 'VBR8O0HQICQK7CM03MIF',
        signature: '<%= @signature %>'
      }
      var confObj = {
        walletUrl: 'https://betawallet.citruspay.com/wallet/showlogin'
      }
      console.log(dataObj)
      citrusWallet.launchWallet(dataObj, confObj)
  }
  </script>









</div>