<div class = "launch wallet">

  <script>
    var dataObj = {
      amount: '#{params[:redeem][:amount]}',
      currency: 'INR',
      email: 'kunalkeshwani6@gmail.com',
      mobile: '8756320983',
      returnUrl: 'http://61b19c65.ngrok.io/payments/callback',
      merchantAccessKey: 'VBR8O0HQICQK7CM03MIF',
      merchantTransactionId: 'd2er34dfgkraf324343j',
      notifyUrl: ''


    }

  </script>


  notifyUrl: 'http://www.abc.com/notify-url',


  signature: ‘d50a27680b6c05d045gfg3eb4acc1c4fa2fd42f’,

</div>